body{

    background-color: wheat;

}

h1{
    color: black;
    text-align: center;
}

.linkList{
    
    text-align: left;
    width: 40%;
    position:relative;
    left: 30%;
}

a{
    
    font-size: x-large;
    color: saddlebrown;
}

.emphasis{
    text-align: center;
    color: salmon;
    font-style: italic;
    font-size: large;
}

.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 70%;

}